@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --background-color: #fff;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #000;
    --highlight-color: #00000000;
  }
}

.text-highlight-color {
  color: var(--highlight-color);
}

.bg-highlight-color {
  background-color: var(--highlight-color);
}

.border-highlight-color {
  border-color: var(--highlight-color);
}

body {
  color: var(--text-color);
  height: 100dvh;
  background: var(--background-color);
}
