@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --background-color: #fff;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #000;
  }
}

body {
  color: var(--text-color);
  height: 100dvh;
  background: var(--background-color);
}
